body {
  font-size: 0.9em;
}

p {
  margin-bottom: 0.9em;
  margin-block-start: 0.9em;
  margin-block-end: 0.9em;
}

.hljs {
  margin-top: -15px;
  margin-bottom: -15px;
  border-radius: 5px;
  padding: 0px !important;
}

pre code {
  line-height: 1.2 !important;
}
